.textMain {
  color: orange;
}

.colorText {
  color: orange;
}

.bgColor {
  margin-top: 50px;
  background-color: #0e294b;
}

.btn-orange {
  background-color: orange;
}

.colorTextLink {
  color: orange;
  margin-left: 12px;
}
.colorTextAzul {
  color: #0e294b;
}
.colorTextLink:hover {
  color: #0e294b;
}
.grow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.image:hover {
  opacity: 0.5;
}
.icono {
  color: orange;
  margin-right: 15px;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.image:hover {
  opacity: 0.5;
}

.contenedor:hover .imagen {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.contenedor {
  overflow: hidden;
  border-radius: 3%;
}
.imagen {
  border-radius: 3%;
}

.tamano {
  height: 100vh;
}
.botonColor {
  background-color: orange;
}

.marginTop {
  margin-top: 18px;
}

.iconoText {
  color: orange;
  font-size: 25px;
}

.video {
  width: 90%;
  height: 450px;
  display: block;
}
