.colorbg {
  display: felx;
  background-color: #0ec6e5;
  opacity: 1.5;
  height: 5rem;
  margin: 0;
  padding: 0;
}

.text {
  font-family: "Gotu", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.text:hover {
  border-radius: 10%;
  transition: width 2s;
  font-size: 28px;
  font-weight: 600;
}
.text-two {
  margin-top: 5px;
  font-family: "Gotu", sans-serif;
  font-size: 18px;
}
.text-two:hover {
  font-size: 23px;
}
